/target
.codex
/apt-dist
/deb-dist
/npm-dist
/obs-dist
/rpm-dist
/snap-dist
/result
/npm/reeknote-linux-arm64/bin/gnsync
/npm/reeknote-linux-arm64/bin/reeknote
/npm/reeknote-linux-x64/bin/gnsync
/npm/reeknote-linux-x64/bin/reeknote
/npm/rnsync-linux-arm64/bin/rnsync
/npm/rnsync-linux-x64/bin/rnsync
